.CategoryList, .ProductList {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.ProductList > div, .CategoryList > ul, .CategoryList > form {
    flex-basis: 100%;
}

.CategoryList {
  /* border-left: 1px solid red; */
}