.builderAlert, .builderSpinner {
  position: fixed;
  z-index: 1340;
  left: 50%;
}

.builderAlert {
  transform: translateX(-50%);
  top: 72px;
}

.builderSpinner {
  top: 63px;
}

.BuildersRow{
  max-height: 450px;
  overflow: auto;
}