.CardFooter{
    background-color: #e2494c;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0 0;
}
.ListGroup{
    border-radius: 0;
    text-transform: capitalize;
    font-size: 14px;
}
